<h2>

Question {{qno}} / {{total}}

</h2>

<form method="POST">

<p>

{{question['question']}}

</p>

<label>

<input
type="radio"
name="answer"
value="A"
required>

{{question['option1']}}

</label>

<br><br>

<label>

<input
type="radio"
name="answer"
value="B">

{{question['option2']}}

</label>

<br><br>

<label>

<input
type="radio"
name="answer"
value="C">

{{question['option3']}}

</label>

<br><br>

<label>

<input
type="radio"
name="answer"
value="D">

{{question['option4']}}

</label>

<br><br>

<input
type="submit"
class="btn"
value="Next">

</form>