<!DOCTYPE html>
<html>

<head>

<title>Select Exam</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div class="dashboard">

<h1>

Available Exams

</h1>

<a href="/student">

<button class="btn">

Back

</button>

</a>

<br><br>

<table>

<tr>

<th>Subject</th>

<th>Code</th>

<th>Exam</th>

<th>Action</th>

</tr>

<tr>

<td>Machine Learning</td>

<td>ML101</td>

<td>Internal Assessment 1</td>

<td>

<td>

<a href="/start_exam">

<button class="btn">

Start Exam

</button>

</a>


<a href="/cheating_rules/EX4">

<button class="btn">

Start Exam2

</button>

</a>
</td>

</td>

</tr>

</table>

</div>

</body>

</html>