<!DOCTYPE html>
<html>

<head>

<title>

Teacher Dashboard

</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<div class="dashboard">

<h1>

Teacher Dashboard

</h1>

<a href="/logout">

<button class="logout">

Logout

</button>

</a>

<hr>

<div class="card">

<h2>

Welcome Teacher

</h2>

<p>

Future Options

</p>

<ul>

<div class="card">

<h2>Welcome Teacher</h2>

<br>

<a href="/create_exam">

<button class="btn">

Create Exam

</button>

</a>

<br><br>

<button class="btn">

View Student Results

</button>

<br><br>

<button class="btn">

Manage Subjects

</button>

</div>

<li>Add Questions</li>

<li>View Student Results</li>

<li>Manage Subjects</li>

</ul>

</div>

</div>

</body>

</html>